<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustut.sargusphotogalery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.Main2Activity" />
        <activity android:name=".activity.activity.HomeActivity" />
        <activity
            android:name=".activity.activity.ApiActivity"
            android:label="@string/title_activity_api"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.fragment.Api1.Frag1ApiActivity" />
        <activity android:name=".activity.fragment.Api1.Frag2ApiActivity" />
        <activity android:name=".activity.fragment.Api1.DetailFragApiActivity" />
        <activity android:name=".activity.fragment.DetailPhotoActivity" />
        <activity android:name=".activity.activity.FavoriteActivity"></activity>
    </application>

</manifest>